dist-newstyle/
.stack-work/
stack.yaml.lock
*.cabal
*.wasm
*.swp
src/tests/
graphics
*.png
serialized/

json/

python/.idea/

python/.ipynb_checkpoints/

jsonSysCall/

.idea/

jsonEnv/

*.gif

test.txt
csv/

*.log

postStats/

trackingStats/

postGeneral/

postGenerator/

subtreemutationtests/old post/

subtreemutationtests/post/

subtreemutationtests/tracking/

trackingGeneral/

trackingGenerator/

subtreemutationtests/old post/

subtreemutationtests/post/

subtreemutationtests/tracking/

postGeneral/

postGenerator/

trackingGenerator/

trackingGeneral/

postGeneralNew/

trackingGeneralNew/

postGeneralBig/

trackingGeneralBig/

postGeneralAncestor5/

trackingGeneralAncestor5/
