dist-newstyle/
.stack-work/
stack.yaml.lock
*.cabal
*.wasm
*.swp
src/tests/
graphics
*.png
serialized/

json/

python/.idea/

python/.ipynb_checkpoints/

jsonSysCall/

.idea/

jsonEnv/

*.gif

test.txt
csv/

*.log

postStats/

trackingStats/

subtreemutationtests/post/

subtreemutationtests/tracking/

subtreemutationtests/old post/

postGeneral/

postGeneralAncestor5/

postGeneralBig/

postGeneralNew/

postGenerator/

posttwo/

trackingGeneral/

trackingGeneralAncestor5/

trackingGeneralBig/

trackingGeneralNew/

trackingGenerator/

trackingtwo/
